*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI",sans-serif;
}

body{
    background: radial-gradient(ellipse at center, black, dimgray);
    color: white;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
}

.background-glow{
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, cyan, transparent);
    animation: pulse 5s infinte alternate;
    z-index: -1;
}

@keyframes pulse
{
    from {opacity: 0.4;}
    to {opacity: 0.8;}
}
header{
    text-align: center;
    padding: 3rem 1rem;
}

.title{
    font-size: 3rem;
    text-shadow: 0 0 10px cyan, 0 0 20px cyan;
    color: white;
}

.subtitle{
    font-size: 1.2rem;
    color: lightgray;
    margin-top: 0.5rem;
}

.card{
    width: 90%;
    max-width: 500px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: rgba(255,255,255,0.05);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid lightgray;
    box-shadow: 0 0 20px cyan;
    color: white;
}

footer{
    text-align: center;
    padding: 2rem;
    font-size: 0.9rem;
    color: gray;
}
footer a{
    color: cyan;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}